*{
    margin:0;
    padding:0;
}
.container-fluid{
    max-width:1230px;
    margin:0 auto;
}
.padding-0{
    padding:0;
}
.margin-0{
    margin:0;
}
a,p,span,h1,h2,h3,h4,h5,h6{margin:0}
html{
    font-size:14px;
    width:100%;
    font-family:"Microsoft YaHei",Helvetica Neue, Helvetica, Arial, sans-serif;
}
body{
    width:100%;
    background-color: #fafafa;
}
.header-box{
    width:100%;
    background-color: #fff;
}

.header-tel{
    color:green;
    line-height:40px;
}
.header-share-box{
    text-align: right;
}
.header-share-box span{
    display: inline-block;
    height:24px;
    width:24px;
    margin-top:8px;
}
.header-share-box span a img{
    height:24px;
    width:24px;
    opacity: 0;
}
.header-share-box span a img:hover{
    opacity: 1;
}
.weixin-span{
    background-image:url("pic/weixin.png");
    background-repeat:round;
}
.qq-span{
    background-image: url("pic/qq.png");
    margin-right:19px;
    margin-left:19px;
}
.weibo-span{
    background-image: url("pic/weibo.png");
    margin-right:3px;
}
/************************************/
.menu-box{
    width:100%;
    background-color:#29b078;
}
.menu-1200-box{
    width:1200px;
    margin:0 auto;
}
.pttlogo{
    height:60px;
    width:160px;
    margin-top:20px;
}
.navbar-toggle{
    margin-top:33px;
}
.nav-box{
    background-color:#29b078 ;
}
.navbar{
    background-color:#29b078;
    border-radius:0;
    border:0;
}
.navbar-header{
    height:97px;
}
.navbar-nav{
    margin:24px 0;
    float: right;
}
.navbar-nav{
    border-bottom: 3px solid #29b078;
}
.navbar-nav:hover{
    border-bottom: 3px solid #fff;
}
.navbar-nav span{
    color: #fff;

}
/***************************/
.box-1200{
    margin:0 auto;
    width:100%;
    max-width:1200px;
     }
.web-location{
    width:100%;
    border-bottom: 2px solid gray;
}
.web-location p{
    font-weight:bold;
    line-height: 79px;
}
.fangxiang-nav{
    width:100%;
    border-bottom:1px solid #edf1f2;
}

.fangxiang-h{
    width:100%;
    border-bottom:2px solid #edf1f2;
}
.fangxiang-h p{
    line-height: 80px;
    font-size:16px;
    font-weight: bold;
}
/*******************************************************************************/

/****************介绍的格子**************************/
.introduction-box{
    border:1px solid #edf1f2;
    background-color: #fff;
    padding-top: 22px;
    max-width:400px;
    margin:16px auto;
    float:left;
}
.webpng{
    float:left;
    margin-left:12px;
    margin-bottom: 12px;
    width:40%;
}
.webpng img{
    max-width:100%;
}
.introduction-text{
    padding-right:16px;
    width:100%;
    margin:0 8px;
}
.introduction-text h4{
    line-height: 40px;
    text-align: center;
}
.introduction-table-1{
    line-height:40px;
    width:100%;
    color: gray;
}
.introduction-table-2{
    line-height:35px;
    width:100%;
}
.t-align-cenwid40{
    text-align: center;
    width:40%;
    color: gray;
}
.t-align-ri{
    display:inline-block;
    float: right;
}
.black{
    color: black;
}
.introduction-table-3{
    line-height:40px;
    width:100%;
}
.introduction-box table td{
    border:1px solid #edf1f2;
}
.td-width-50{
    width:50%;
}
.red{
    color: red;
}

/****************附加曾*************/
.pst-rtv{
    position: relative;
}
.z-hover{
    width:100%;
    background-color: #888888;
    position:absolute;
    max-width:400px;
    padding:64px 32px 60px 32px;
    opacity:0;
    margin: 16px 0 16px 0;
    color: #fff;
    height:95%;
}
.z-hover:hover{
    opacity: 0.8;
}
.z-hover h3 {
    text-align: center;
    line-height: 64px;

}
.z-hover p{
    line-height: 24px;
    font-size:18px;
}
/****__________盒子结束_______******~~~~~~~~~~~~~叠加层~~~~~~~~~~~~**/




/************************************/
.footer-box{
    width:100%;
    background-color: #26a26f;
    padding-top:38px;
    color: #fff;
}
.footer-1200-box{
    width:100%;
    max-width:1200px;
    margin:0 auto;
}
.footer-line-height{
    line-height:70px;
}
.footer-bottom{
    margin-bottom:30px;
}
.corp-box{
    width:100%;
    background-color: #26a26f;
    text-align: center;
    line-height:30px;
    border-top:1px solid #32c086;
    color: #fff;
}















