*{margin:0;padding:0}
html,body{width: 100%;}
body{background-color:#68cdd5;}
p{color:white;font-family:"微软雅黑",sans-serif;font-size:20px;}
#wrapper{
    width:100%;
    min-width: 310px;
    max-width: 640px;
    margin: 0 auto;
}
.anniu{
    padding-left:10px;
}
.anniu img{max-width:100%}
.ptt{
    margin:0 auto;
    width:200px;
}
.ptt img{max-width:100%;}
.text{
    margin:0 auto;
    padding:32px 10%;
    width:80%;
    text-align:justify;
    line-height: 1.8;
}
.logokuang{
    margin:0 auto;
    padding:15px 10%;
    width:80%;
    text-align: center;
}
.logokuang img{width: 80px; height: 80px;}
.qunlogo{
    float: left;
    width: 120px;
}
.pttlogo{
    float:right;
    width: 120px;
}
/*2017.2.8.19.32*/