*{gargin:0;pading:0}
#box{
    border:3px;
    margin:3px;
    padding:3px;
    height:640px;
    width:480px;
}
.box1{
    height: 99px;
    width:99px;
    margin:9px;
    text-align:center;
}
.box2{
    height: 99px;
    width: 99px;
}
.box3{
    height: 300px;
    width:300px;


}
.box.4{

}
