@import "../base/base.less";
/*******************base***************/
.m-direct{  }
.m-direct-h3{
  line-height: 80px;
  border-bottom: 1px solid #d0d6d9;
  border-top: 1px solid #d0d6d9;
}
.m-direct-card-group{
  width: 100%;
  padding-top: 45px;
}
.m-direct-card{
  padding-top: 20px;
  width: 100%;
  margin: 0 auto;
  max-width: 400px;
  min-width: 320px;
  background: #fff;
}
.m-direct-card-img{
  float: left;
  width: 139px;
  height: 139px;
  margin: 0 8px 16px 10px;
  background: url(../pic/sprite.png) -1px -247px ;
}
.m-direct-card-intro-h5{line-height: 40px; }
.m-direct-card-intro-p{line-height: 20px;}
.m-direct-card-table{
  line-height: 40px;
  width: 100%;
}
.m-direct-card-table td{
    border: 1px solid #edf1f2 ;
}






