.w-1200 {
  width: 100%;
  max-width: 1200px;
  min-width: 320px;
  margin: 0 auto;
}
.w-1920 {
  width: 100%;
  max-width: 1920px;
  min-width: 320px;
}
/************clearfix**************/
.clearfix:after {
  content: " ";
  display: block;
  clear: both;
  height: 0;
}
.clearfix {
  zoom: 1;
}
/******reset*******/
* {
  margin: 0;
  padding: 0;
}
html,
body {
  width: 100%;
  max-width: 1920px;
}
html {
  font-family: "Microsoft YaHei", sans-serif;
  font-size: 16px;
}
body {
  background-color: #fafafa;
}
/****/
/***********base***********/
.m-feature-group-box {
  width: 100%;
  max-width: 1200px;
  min-width: 320px;
  margin: 0 auto;
  margin-top: 160px;
}
.m-feature-col-2 {
  display: inline-block;
  width: 49%;
}
.m-feature-col-1 {
  display: inline-block;
  width: 49%;
}
.m-feature-card {
  margin: 0 auto;
  width: 222px;
}
.m-feature-img {
  display: block;
  margin: 0 auto;
  width: 43px;
  height: 62px;
}
.m-feature-img-bg1 {
  background: url(../pic/sprite.png) -90px 0;
}
.m-feature-img-bg2 {
  background: url(../pic/sprite.png) -140px 0;
}
.m-feature-img-bg3 {
  background: url(../pic/sprite.png) -210px 0;
}
.m-feature-h3 {
  text-align: center;
  line-height: 64px;
}
.m-feature-p {
  line-height: 26px;
  color: #bdbdbd;
}
.m-feature-count {
  padding-top: 60px;
}
.m-feature-count-detail-icon {
  display: inline-block;
  height: 13px;
  width: 13px;
  background: url(../pic/sprite.png) -270px 0;
}
.m-feature-count-detail-number {
  margin-left: 10px;
  color: #29b078;
}
@media screen and (max-width: 640px) {
  .m-feature-col-2 {
    display: block;
    width: 100%;
  }
}
