.color-black {
  color: black;
}
.w-1200 {
  width: 96%;
  max-width: 1200px;
  padding: 0 2%;
  min-width: 250px;
  margin: 0 auto;
}
.w-1920 {
  width: 100%;
  max-width: 1920px;
  min-width: 300px;
}
.w-100-100 {
  width: 100%;
}
.w-50-100 {
  width: 49.5%;
}
.w-40-100 {
  width: 39%;
}
.w-60-100 {
  width: 60%;
}
.bd-right-1 {
  border-right: 1px solid #bbb;
}
.dp-none {
  display: none;
}
h5 {
  font-size: 16px;
}
/************clearfix**************/
.clearfix:after {
  content: " ";
  display: block;
  clear: both;
  height: 0;
}
.clearfix {
  zoom: 1;
}
.position-relative {
  position: relative;
}
a:hover {
  text-decoration: underline;
}
/****flex***/
.flex-item-center {
  display: flex;
  display: -webkit-flex;
  align-items: center;
}
/******reset*******/
* {
  margin: 0;
  padding: 0;
}
html,
body {
  width: 100%;
  max-width: 1920px;
}
html {
  font-family: "Microsoft YaHei", sans-serif;
  font-size: 16px;
}
body {
  background-color: #fafafa;
}
/****/
a:link {
  text-decoration: none;
  color: inherit;
}
a:hover {
  color: #fff;
}
a:visited {
  color: #000;
}
/*********栅格***************/
.col-4-1 {
  float: left;
  width: 25%;
}
.col-4-1-md {
  float: left;
  width: 25%;
}
.col-4-3 {
  float: left;
  width: 75%;
}
.col-3-1 {
  position: relative;
  float: left;
  width: 33%;
}
@media screen and (max-width: 980px) {
  .col-4-1 {
    width: 50%;
  }
  .col-3-1 {
    width: 50%;
  }
}
@media screen and (max-width: 640px) {
  .col-3-1 {
    width: 100%;
  }
  .col-4-1-md {
    width: 100%;
  }
  .col-4-3 {
    width: 100%;
  }
}
@media screen and (max-width: 480px) {
  .col-4-1 {
    width: 100%;
  }
  .col-3-1 {
    width: 100%;
  }
}
/**/
.col-step-4-1 {
  float: left;
}
@media screen and (max-width: 1196px) {
  .col-w-4-1 {
    width: 50%;
  }
}
@media screen and (max-width: 1196px) {
  .col-w-4-1 {
    width: 100%;
  }
}
/*********五角星图标**********/
.star {
  display: inline-block;
  height: 16px;
  width: 16px;
  background: url(../pic/sprite.png) -160px -250px;
  vertical-align: -10%;
}
.red {
  color: red;
}
.float-right {
  float: right;
}
/****col-3-1**************/
td,
tr {
  -webkit-border-vertical-spacing: 0;
  -webkit-border-horizontal-spacing: 0;
}
table {
  table-layout: fixed;
  word-break: break-all;
  word-wrap: break-word;
}
/***********base*****************/
footer {
  color: #fff;
  background: #29b078;
  padding-top: 30px;
}
.f-about-message {
  width: 100%;
  padding: 15px 0;
}
.f-about-message-h5 {
  line-height: 40px;
}
.f-about-message-p {
  margin-top: 60px;
  font-size: 12px;
  vertical-align: middle;
}
@media screen and (max-width: 480px) {
  .f-about-message-p {
    margin-top: 10px;
    margin-bottom: 30px;
  }
}
.f-about-message-p-span {
  font-size: 16px;
}
.f-about-own-h5 {
  line-height: 40px;
}
.f-about-own-item {
  display: inline-block;
  width: 45%;
  line-height: 46px;
}
.f-about-qrcode-box {
  text-align: right;
}
@media screen and (max-width: 980px) {
  .f-about-qrcode-box {
    float: none;
    text-align: left;
  }
}
.f-about-qrcode-h5 {
  line-height: 40px;
  margin-right: 16px;
}
.f-about-qrcode {
  display: inline-block;
  margin-right: 16px;
  width: 90px;
  height: 90px;
  background: url(../pic/sprite.png) -120px -70px;
}
/********************版权***************/
.f-about-copyright {
  text-align: center;
  line-height: 30px;
  border-top: 1px solid #32c086 ;
}
