@import "../base/base.less";
/*********base*******/
.m-link-group-box{
  .w-1200;
  padding-bottom: 10px;
  background: #fff;
}
.m-link-h5{
  line-height: 50px;
  text-align: center;
}
.m-link-li-box{
  float: left;
  width: 10%;
  min-width: 90px;
  overflow: hidden;
  line-height: 28px;
  color: @p-color-1;
}
.m-link-li-box li{
  position: relative;
  left: 20px;
  border-bottom: 1px solid #fff;
}
.m-link-li-box li:hover{border-bottom: 1px solid @h-color; }










