.color-black {
  color: black;
}
.w-1200 {
  width: 100%;
  max-width: 1200px;
  min-width: 300px;
  margin: 0 auto;
}
.w-1920 {
  width: 100%;
  max-width: 1920px;
  min-width: 300px;
}
.w-100-100 {
  width: 100%;
}
.w-50-100 {
  width: 49.5%;
}
.w-40-100 {
  width: 39%;
}
.w-60-100 {
  width: 60%;
}
.bd-right-1 {
  border-right: 1px solid #bbb;
}
.dp-none {
  display: none;
}
h5 {
  font-size: 16px;
}
/************clearfix**************/
.clearfix:after {
  content: " ";
  display: block;
  clear: both;
  height: 0;
}
.clearfix {
  zoom: 1;
}
.position-relative {
  position: relative;
}
a:hover {
  text-decoration: underline;
}
/****flex***/
.flex-item-center {
  display: flex;
  display: -webkit-flex;
  align-items: center;
}
/******reset*******/
* {
  margin: 0;
  padding: 0;
}
html,
body {
  width: 100%;
  max-width: 1920px;
}
html {
  font-family: "Microsoft YaHei", sans-serif;
  font-size: 16px;
}
body {
  background-color: #fafafa;
}
/****/
a:link {
  text-decoration: none;
  color: inherit;
}
a:hover {
  color: #fff;
}
a:visited {
  color: #000;
}
/*********栅格***************/
.col-4-1 {
  float: left;
  width: 25%;
}
.col-4-1-md {
  float: left;
  width: 25%;
}
.col-4-3 {
  float: left;
  width: 75%;
}
.col-3-1 {
  position: relative;
  float: left;
  width: 33%;
}
@media screen and (max-width: 980px) {
  .col-4-1 {
    width: 50%;
  }
  .col-3-1 {
    width: 50%;
  }
}
@media screen and (max-width: 640px) {
  .col-3-1 {
    width: 100%;
  }
  .col-4-1-md {
    width: 100%;
  }
  .col-4-3 {
    width: 100%;
  }
}
@media screen and (max-width: 480px) {
  .col-4-1 {
    width: 100%;
  }
  .col-3-1 {
    width: 100%;
  }
}
/**/
.col-step-4-1 {
  float: left;
}
@media screen and (max-width: 1196px) {
  .col-w-4-1 {
    width: 50%;
  }
}
@media screen and (max-width: 1196px) {
  .col-w-4-1 {
    width: 100%;
  }
}
/*********五角星图标**********/
.star {
  display: inline-block;
  height: 16px;
  width: 16px;
  background: url(../pic/sprite.png) -160px -250px;
  vertical-align: -10%;
}
.red {
  color: red;
}
.float-right {
  float: right;
}
/****col-3-1**************/
td,
tr {
  -webkit-border-vertical-spacing: 0;
  -webkit-border-horizontal-spacing: 0;
}
table {
  table-layout: fixed;
  word-break: break-all;
  word-wrap: break-word;
}
/*********base*******/
.m-link-group-box {
  width: 100%;
  max-width: 1200px;
  min-width: 300px;
  margin: 0 auto;
  padding-bottom: 10px;
  background: #fff;
}
.m-link-h5 {
  line-height: 50px;
  text-align: center;
}
.m-link-li-box {
  float: left;
  width: 10%;
  min-width: 90px;
  overflow: hidden;
  line-height: 28px;
  color: #bbb;
}
.m-link-li-box li {
  position: relative;
  left: 20px;
  border-bottom: 1px solid #fff;
}
.m-link-li-box li:hover {
  border-bottom: 1px solid #29b078;
}
