.w-1200 {
  width: 100%;
  max-width: 1200px;
  min-width: 320px;
  margin: 0 auto;
}
.w-1920 {
  width: 100%;
  max-width: 1920px;
  min-width: 320px;
}
.dp-none {
  display: none;
}
/************clearfix**************/
.clearfix:after {
  content: " ";
  display: block;
  clear: both;
  height: 0;
}
.clearfix {
  zoom: 1;
}
/****flex***/
.flex-item-center {
  display: flex;
  display: -webkit-flex;
  align-items: center;
}
/******reset*******/
* {
  margin: 0;
  padding: 0;
}
html,
body {
  width: 100%;
  max-width: 1920px;
}
html {
  font-family: "Microsoft YaHei", sans-serif;
  font-size: 16px;
}
body {
  background-color: #fafafa;
}
/****/
/*********栅格***************/
.col-4-1 {
  float: left;
  width: 25%;
}
@media screen and (max-width: 900px) {
  .col-4-1 {
    width: 50%;
  }
}
@media screen and (max-width: 480px) {
  .col-4-1 {
    width: 100%;
  }
}
/**/
.col-step-4-1 {
  float: left;
}
@media screen and (max-width: 1196px) {
  .col-w-4-1 {
    width: 50%;
  }
}
@media screen and (max-width: 1196px) {
  .col-w-4-1 {
    width: 100%;
  }
}
/*************base***************/
.m-show-group-box {
  width: 100%;
  max-width: 1200px;
  min-width: 320px;
  margin: 0 auto;
}
.m--show-slideshow {
  width: 200%;
  height: auto;
}
.show-box {
  width: 270px;
  height: 370px;
  background-color: #fff;
  padding: 16px 32px 32px 32px;
  border: 2px solid #eee;
  margin: 16px auto;
}
.touxiang-box {
  border-radius: 50%;
  width: 108px;
  height: 108px;
  margin: 0 auto;
}
.touxiang-box img {
  height: 108px;
  width: 108px;
}
.show-name {
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  margin-top: 40px;
}
.show-text {
  color: gray;
  margin-top: 18px;
  line-height: 26px;
}
