*{margin:0;padding:0;}
html{width:100%;font-size:62.5%;}
html{
      max-width:768px;
    margin:0 auto;
}
body{width:100%;font-family:"Microsoft YaHei",hevetica arial sans-serif;font-size:1.5rem;}
a{text-decoration:none;}
/****header************************/
.header0{
    width:100%;
    height:4rem;
    max-width:768px;
}
li{
    list-style: none;
}
.header-box{
    background-color:#4ab;
    position:fixed;
    top:0;
    width:100%;
    max-width:768px;
    height:4rem;
}
.header-table{
    text-align: center;
    width:100%;
    height:100%;
    font-size: 2rem;
    color: #ffffff;
}
.header-table a{
    position: absolute;
    left:3%;
    color: #fff;
    line-height: 2rem;
    font-size:3rem;
}
/******************个人介绍**********************/
.info-box{
    display:flex;
    align-items:center;
    background-image:url(pic/beijing.png);
    background-repeat:round;
    width:100%;
    height:14rem;
}
.info-touxiang-box{
    width:8rem;
    height:8rem;
    margin:0 1rem 0 2rem;
}
.info-touxiang-box img{
    width:7rem;
    height:7rem;
}
.info-table{
    display:block;
    width:60%;
    min-width:10rem;
    height:5.5rem;/*(1.5+2)+2*(2/2)*/
}
.info-table img{
    width:1.1rem;
    height:1.4rem;
}
.td-name{
    font-size:2rem;
}
.td-age{
    font-size:1.5rem;
}
/***************************技能介绍****/

.skill-list{
    line-height: 4rem;
    font-size:1.5rem;
}
.skill-list img{
    height:1rem;
}
.li img{
    height:1.3rem;
    width:2rem;
    min-width:2px;
}
.line-l{
    width:100%;
    height:2px;
    background-color: gray;
}
.line-s{
    position:relative;
    left:5%;
    width:95%;
    background-color:gray;
    height:2px;
}
.row-1{
    display: inline-block;
    margin:0 1rem 0 5%;
    vertical-align: top;
}
.row-1-l-grey{
    width:0.2rem;
    min-width:2px;
}
.col-1{
    display: inline-block;
    margin:0 1rem 0 5%;
    color: gray;
}
.col-1 img{
    width:0.2rem;
    min-width:2px;
}
.price-red{
    color: red;
}
.self-introdunction-box{
    display:inline-block;
    height:4rem;
    width:16rem;
    font-size:1rem;
    line-height:1.5rem;
    vertical-align:middle;
}


/**************************************/

.bottom{
    width:100%;
    height:4rem;
    margin:0  auto;
    position:fixed;
    max-width:768px;
    bottom:1rem;
}
.bottom0{
    width:100%;
    height:5rem;
}
.message{
    width:40%;
    height:100%;
    margin-left:3%;
    float:left;
    border:2px solid #44aabb;
    color: #44aabb;
    border-radius:5px;
    text-align: center;
    line-height: 4rem;
}
.callme{
    width:40%;
    height:100%;
    margin-right:3%;
    float:right;
    border:2px solid #44aabb;
    background-color: #44aabb;
    color:#fff;
    border-radius:5px;
    text-align: center;
    line-height: 4rem;
}
