*{margin:0;padding:0;}
html{-webkit-text-size-adjust: none;}
a{text-decoration:none;}
li{list-style: none;}
html{width:100%;
    font-size:625%;
    font-family: "Hiragino Sans GB W3", "Microsoft YaHei UI Light", sans-serif;
}
/*@media screen and (max-width: 500px){*/
    /*html{font-size: 312.5%;}*/
    /*body,header,footer{max-width: 14.4rem;}*/
/*}*/
body{
    width:100%;
    max-width: 7.2rem;
    margin: 0 auto;
    font-size:0.3rem;
}
/****header************************/
header{
    position:fixed;
    top:0;
    width:100%;
    max-width: 7.20rem;
    height:.64rem;
    line-height: .64rem;
    padding-top: .64rem;
    font-size: .34rem ;
    text-align: center;
    color: #fff;
    background-color: #5fc0cd;
    z-index: 1;
}
.header0{
    width:100%;
    height: 1.28rem;
}
.h-back{
    display: block;
    width:0;
    position: relative;
    left: .16rem;
    float: left;
    font-size: .54rem;
}
/******************信息展示*********************/
.info-box{
    display:flex;
    display: -webkit-flex;
    justify-content: flex-start;
    align-items: center;
    background-image:url(pic/beijing.png);
    background-repeat:round;
    width:100%;
    height:3.20rem;
}
.info-touxiang-box{
    width: 1.70rem;
    height: 1.70rem;
    margin: 0 .30rem 0 .30rem;
}

.info-touxiang-box img{
    width: 1.70rem;
    height: 1.70rem;
}
.info-table{
    display:block;
    width:60%;
    min-width:2.00rem;
    height:1.40rem;/**/
    color: #fff;

}
.info-table img{
    width: .18rem;
    height: .24rem;
}
.td-name{
    font-size:.36rem;
}
.td-age{
    font-size:.24rem;
}

/***************列表************/

.skill-list{
    line-height: .98rem;
    font-size: .30rem;
}

.skill-list img{

    height:.26rem;

}
.li img{
    height:.30rem;
    width:.20rem;
    min-width:.02rem;

}

.line-l{

    width:100%;

    height:.02rem;

    background-color: #e1e5e7;

}

.line-s{

    position:relative;

    left:5%;

    width:95%;

    background-color: #e1e5e7;

    height:.02rem;

}

.row-1{
    display: inline-block;
    margin:0 .10rem 0 5%;
    vertical-align: top;
}

.row-1-l-grey{
    width:.02rem;
    min-width:.02rem;
}

.col-1{

    display: inline-block;

    margin:0 .10rem 0 5%;

    color: gray;

}

.col-1 img{

    width:.02rem;

    min-width:.02rem;
    margin-left: .20rem;
}
.price-red{
    color: red;
}

.self-introdunction-box{
    display:inline-block;
    height:.98rem;
    width:60%;
    line-height: .48rem;
    font-size:.24rem;
    vertical-align:middle;
}

/**************页脚按钮************************/

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    max-width: 7.20rem;
    background-color: #fff;
    height: 1.24rem;
}
.f-warpper{
    width: 90%;
    margin: 0 auto;
    padding-bottom: .40rem;
}
.bottom0{
    width: 100%;
    height: 1.28rem;
}
.message{
    width: 40%;
    float: left;
    border: .02rem solid #44aabb;
    color: #44aabb;
    border-radius: .05rem;
    text-align: center;
    line-height: .80rem;
}

.callme{
    width:40%;
    float:right;
    border:.02rem solid #44aabb;
    background-color: #44aabb;
    border-radius:.05rem;
    text-align: center;
    line-height: .80rem;
}