*{margin:0;padding:0;}
a{text-decoration:none;}
li{list-style: none;}
html{width:100%;
    font-size:30px;
    font-family: "Hiragino Sans GB W3", "Microsoft YaHei UI Light", sans-serif;
}
body{
    width:100%;
    max-width: 720px;
    margin: 0 auto;
    font-size:30px;
}
/****header************************/
header{
    position:fixed;
    top:0;
    width:100%;
    max-width: 720px;
    height:64px;
    line-height: 64px;
    padding-top: 64px;
    font-size: 36px ;
    text-align: center;
    color: #fff;
    background-color: #5fc0cd;
}
.header0{
    width:100%;
    height: 128px;
}
.h-back{
    display: block;
    float: left;
    margin-left:3%;
    font-size: 54px;
}
/******************信息展示*********************/
.info-box{
    display:flex;
    display: -webkit-flex;
    justify-content: flex-start;
    align-items: center;
    background-image:url(pic/beijing.png);
    background-repeat:round;
    width:100%;
    height:320px;
}
.info-touxiang-box{
    width: 170px;
    height: 170px;
    margin: 0 30px 0 30px;
}

.info-touxiang-box img{
    width: 170px;
    height: 170px;
}
.info-table{
    display:block;
    width:60%;
    min-width:200px;
    height:140px;/**/
    color: #fff;

}
.info-table img{
    width: 11px;
    height: 14px;
}
.td-name{
    font-size:36px;
}
.td-age{
    font-size:24px;
}

/***************列表************/

.skill-list{
    line-height: 98px;
    font-size: 30px;
}

.skill-list img{

    height:26px;

}
.li img{
    height:30px;
    width:20px;
    min-width:2px;

}

.line-l{

    width:100%;

    height:2px;

    background-color: gray;

}

.line-s{

    position:relative;

    left:5%;

    width:95%;

    background-color:gray;

    height:2px;

}

.row-1{
    display: inline-block;
    margin:0 10px 0 5%;
    vertical-align: top;
}

.row-1-l-grey{
    width:2px;
    min-width:2px;
}

.col-1{

    display: inline-block;

    margin:0 10px 0 5%;

    color: gray;

}

.col-1 img{

    width:2px;

    min-width:2px;
}
.price-red{
    color: red;
}

.self-introdunction-box{
    display:inline-block;
    height:98px;
    width:60%;
    line-height: 48px;
    font-size:24px;
    vertical-align:middle;
}

/**************页脚按钮************************/

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    max-width: 720px;
    background-color: #fff;
    height: 124px;
}
.f-warpper{
    width: 90%;
    margin: 0 auto;
    padding-bottom: 40px;
}
.bottom0{
    width: 100%;
    height: 128px;
}
.message{
    width: 40%;
    float: left;
    border: 2px solid #44aabb;
    color: #44aabb;
    border-radius: 5px;
    text-align: center;
    line-height: 80px;
}

.callme{
    width:40%;
    float:right;
    border:2px solid #44aabb;
    background-color: #44aabb;
    border-radius:5px;
    text-align: center;
    line-height: 80px;
}